@charset "utf-8";
header {
  padding: 22px 0;
  height: 88px;
  box-sizing: border-box;
}
header > .container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
header > .container > h1 {
  display: block;
  float: left;
  width: 110px;
  height: 44px;
  font-size: 18px;
  color: #222;
}
header > .container > h1 > a {
  width: 72px;
  height: 45px;
  background: url(../img/loginlogo.png) no-repeat 0 0/100% 100%;
  display: block;
  color: #f40;
}
header > .container > .headerright {
  float: right;
  font-size: 12px;
}
header > .container > .headerright > a {
  display: block;
  color: #666;
  height: 18px;
}
header > .container > .headerright > a > .icon {
  font-size: 16px;
  color: #f40;
}
header > .container > .headerright > a:hover {
  color: #f40;
}
.main {
  width: 100%;
  position: relative;
  background-image: url(../img/loginbkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 600px;
}
.main > a {
  position: absolute;
  width: 630px;
  height: 440px;
  left: 203px;
  top: 80px;
  color: #f40;
}
.main > .content {
  position: absolute;
  top: 120px;
  right: 182px;
  width: 350px;
}
.main > .content > .login-box {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  position: relative;
  width: 350px;
  min-height: 350px;
  padding: 25px 25px 23px;
  color: #6c6c6c;
  background: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}
.main > .content > .login-box > .qrcode > .icon {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 52px;
  line-height: 52px;
  cursor: pointer;
  color: #f40;
}
.main > .content > .login-box > .qrcode > .login-tip {
  position: absolute;
  top: 5px;
  right: 58px;
}
.main > .content > .login-box > .qrcode > .login-tip > .poptip {
  border: 1px solid #f3d995;
  background: #fefcee;
  line-height: 16px;
  position: relative;
  z-index: 9999;
  padding: 5px 10px;
}
.main > .content > .login-box > .qrcode > .login-tip > .poptip > .arrow {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0;
}
.main > .content > .login-box > .qrcode > .login-tip > .poptip > .arrow > em {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 1px;
  border-left-color: #ff9000 !important;
  border-width: 6px 0 6px 6px;
  border-color: hsla(0, 0%, 100%, 0);
  border-style: solid;
  overflow: hidden;
}
.main > .content > .login-box > .qrcode > .login-tip > .poptip > .arrow > span {
  border-left-color: #fefcee !important;
  border-width: 6px 0 6px 6px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0);
  overflow: hidden;
}
.main > .content > .login-box > .qrcode > .login-tip > .poptip > div {
  color: #ff9000;
  font-size: 12px;
  font-weight: 400;
}
.main > .content > .login-box > .content-box {
  padding-top: 2px;
  position: relative;
}
.main > .content > .login-box > .content-box > ul {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 4px;
}
.main > .content > .login-box > .content-box > ul > li {
  height: 16px;
  line-height: 5px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 9px 10px 0 0;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.main > .content > .login-box > .content-box > ul > .active {
  border-bottom: 2px solid #000;
}
.main > .content > .login-box > .content-box > form {
  display: none;
  position: absolute;
  right: 17px;
  left: 0;
}
.main > .content > .login-box > .content-box > .f1 > .field {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}
.main > .content > .login-box > .content-box > .f1 > .field > label {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: #ccc;
}
.main > .content > .login-box > .content-box > .f1 > .field > label > .icon {
  font-size: 24px;
}
.main > .content > .login-box > .content-box > .f1 > .field > div > input {
  width: 100%;
  border-color: #f1eeee;
  border: 1px solid #ccc;
  height: 42px;
  outline: none;
  font-size: 14px;
  padding-left: 50px;
}
.main > .content > .login-box > .content-box > .f1 > .btn {
  width: 100%;
}
.main > .content > .login-box > .content-box > .f1 > .btn > button {
  background: #f40;
  font-size: 16px;
  border: 1px solid #ff9000;
  border-radius: 3px;
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
.main > .content > .login-box > .content-box > .f1 > .wb {
  text-align: left;
  margin: 8px 0;
  margin-top: 16px;
}
.main > .content > .login-box > .content-box > .f1 > .wb > a {
  color: #6c6c6c;
  font-size: 12px;
}
.main > .content > .login-box > .content-box > .f1 > .wb > a > .icon {
  color: #e52425;
  font-size: 16px;
  margin-right: 3px;
}
.main > .content > .login-box > .content-box > .f1 > .link {
  text-align: right;
  margin: 8px 0;
  margin-top: 16px;
}
.main > .content > .login-box > .content-box > .f1 > .link > a {
  color: #6c6c6c;
  font-size: 12px;
  margin-left: 10px;
}
.main > .content > .login-box > .content-box > .f2 > .field {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}
.main > .content > .login-box > .content-box > .f2 > .field > label {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: #ccc;
}
.main > .content > .login-box > .content-box > .f2 > .field > label > .icon {
  font-size: 24px;
}
.main > .content > .login-box > .content-box > .f2 > .field > .sel {
  position: absolute;
  left: 40px;
  bottom: 0;
}
.main > .content > .login-box > .content-box > .f2 > .field > .sel::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  pointer-events: none;
  line-height: 40px;
  padding-left: 10px;
  color: #3c3c3c;
}
.main > .content > .login-box > .content-box > .f2 > .field > .sel > select {
  color: rgba(0, 0, 0, 0.0001);
  background: url(../img/select.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 48px 8px;
  width: 65px;
  outline: 0;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border: 0;
  padding-right: 14px;
}
.main > .content > .login-box > .content-box > .f2 > .field > .sel > select > option {
  color: #3c3c3c;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
}
.main > .content > .login-box > .content-box > .f2 > .field > .input > input {
  width: 100%;
  border-color: #f1eeee;
  border: 1px solid #ccc;
  height: 42px;
  outline: none;
  font-size: 14px;
  padding-left: 110px;
}
.main > .content > .login-box > .content-box > .f2 > .field > .in2 > input {
  padding-left: 50px;
}
.main > .content > .login-box > .content-box > .f2 > .field > .yzm {
  position: absolute;
  right: 10px;
  bottom: 0;
  line-height: 40px;
}
.main > .content > .login-box > .content-box > .f2 > .field > .yzm > a {
  color: #6c6c6c;
  font-size: 12px;
}
.main > .content > .login-box > .content-box > .f2 > .btn {
  width: 100%;
}
.main > .content > .login-box > .content-box > .f2 > .btn > button {
  background: #f40;
  font-size: 16px;
  border: 1px solid #ff9000;
  border-radius: 3px;
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
.main > .content > .login-box > .content-box > .f2 > .wb {
  text-align: left;
  margin: 8px 0;
  margin-top: 16px;
}
.main > .content > .login-box > .content-box > .f2 > .wb > a {
  color: #6c6c6c;
  font-size: 12px;
}
.main > .content > .login-box > .content-box > .f2 > .wb > a > .icon {
  color: #e52425;
  font-size: 16px;
  margin-right: 3px;
}
.main > .content > .login-box > .content-box > .f2 > .link {
  text-align: right;
  margin: 8px 0;
  margin-top: 16px;
}
.main > .content > .login-box > .content-box > .f2 > .link > a {
  color: #6c6c6c;
  font-size: 12px;
  margin-left: 10px;
}
.main > .content > .login-box > .content-box > .display {
  display: block;
}
.footer {
  width: 100%;
  min-height: 150px;
  margin-top: 20px;
  padding-bottom: 9px;
  background-color: #fff;
  font-size: 12px;
}
.footer > .container > .top {
  padding-top: 7px;
}
.footer > .container > .top > p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-bottom: 8px;
  padding-top: 8px;
}
.footer > .container > .top > p > span {
  margin: 0 1px;
  color: #9c9c9c;
}
.footer > .container > .top > p > span > a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
.footer > .container > .top > p > span > a:hover {
  color: #f40;
}
.footer > .container > .top > p > b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer > .container > .middle > .gytb {
  padding: 2px 0;
  margin-bottom: 8px;
}
.footer > .container > .middle > .gytb > span {
  margin: 0 4px;
  color: #9c9c9c;
}
.footer > .container > .middle > .gytb > span > a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
.footer > .container > .middle > .gytb > span > a:hover {
  color: #f40;
}
.footer > .container > .middle > .gytb > span > span {
  margin-left: 30px;
  font-style: normal;
  color: #9c9c9c;
}
.footer > .container > .middle > .zz {
  padding: 2px 0;
  margin-bottom: 8px;
}
.footer > .container > .middle > .zz > span {
  margin: 0 4px;
  color: #9c9c9c;
}
.footer > .container > .middle > .zz > span > a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
.footer > .container > .middle > .zz > span > a:hover {
  color: #f40;
}
.footer > .container > .middle > .zz > b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer > .container > .middle > .zz > span:nth-of-type(4) {
  color: #9c9c9c;
}
.footer > .container > .middle > .hlw {
  padding: 2px 0;
  margin-bottom: 8px;
}
.footer > .container > .middle > .hlw > span {
  color: #9c9c9c;
  margin: 0 3px;
}
.footer > .container > .middle > .hlw > b {
  margin: 0 -1px;
  font-weight: 400;
  color: #ddd;
}
.footer > .container > .middle > .zs {
  padding: 2px 0;
  margin-bottom: 8px;
}
.footer > .container > .middle > .zs > span {
  margin: 0 4px;
  color: #9c9c9c;
}
.footer > .container > .middle > .zs > span > a {
  white-space: nowrap;
  color: #6c6c6c;
  text-decoration: none;
}
.footer > .container > .middle > .zs > span > a:hover {
  color: #f40;
}
.footer > .container > .middle > .zs > span > a > span {
  display: inline-block;
  background-position: -861px 0px;
  width: 20px;
  height: 20px;
  background-image: url(../img/jlt.jpg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.footer > .container > .middle > .zs > b {
  margin: 0 -1px;
  font-weight: 400;
  color: #ddd;
}
.footer > .container > .bottom > span {
  margin: 0 4px;
  color: #9c9c9c;
}
.footer > .container > .bottom > span > a {
  background-image: url(../img/jlt.jpg);
  margin-right: 15px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: #3C3C3C;
}
.footer > .container > .bottom > span:nth-of-type(1) a {
  width: 36px;
  background-image: url(../img/loginimg.gif);
}
.footer > .container > .bottom > span:nth-of-type(2) a {
  width: 30px;
  background-position: 0px 0px;
}
.footer > .container > .bottom > span:nth-of-type(3) a {
  width: 33px;
  background-position: -40px 0px;
}
.footer > .container > .bottom > span:nth-of-type(4) a {
  width: 50px;
  background-position: -80px 0px;
}
.footer > .container > .bottom > span:nth-of-type(5) a {
  width: 83px;
  background-position: -140px 0px;
}
.footer > .container > .bottom > span:nth-of-type(6) a {
  width: 250px;
  background-position: 0px -18px;
  background-image: url(../img/footer3.png_250x250);
}
.footer > .container > .bottom > span:nth-of-type(7) a {
  width: 105px;
  background-position: -650px 0px;
}
.footer > .container > .bottom > span:nth-of-type(8) a {
  width: 82px;
  background-position: -345px 0px;
}
.footer > .container > .bottom > span:nth-of-type(9) a {
  width: 97px;
  background-position: -761px 0px;
}
